{% extends 'base.html.twig' %}

{% block page_title %}<h2>Setup Questions</h2>{% endblock %}

{% block content %}
    <div class="content-wrapper">
        {% for message in app.flashes('success') %}
            <div class="success-message">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="error_message">{{ message }}</div>
        {% endfor %}

        <p>
            <a href="{{ path('question_new') }}" class="button alt icon fa-plus small" style="margin-right: 1em;">New Question</a>
        </p>

        <form method="GET" action="{{ path('question') }}">
        <div class="filter-div">
            <input type="text" name="filter_label" id="filter_label" value="{{ filter_label }}" placeholder="Search labels" class="filter-input" />
        </div>
        </form>

        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Sort Order</th>
                    <th>Required</th>
                    <th>Enabled</th>
                    <th>Last Updated</th>
                </tr>
                </thead>
                <tbody>

                {% for question in pagination %}
                <tr>
                    <td><a href="{{ path('question_edit', { id: question.id } ) }}" class="button alt icon fa-pencil small" style="margin-right: 1em;">Edit</a>{{ question.label }}</td>
                    <td>{{ question.sortOrder }}</td>
                    <td>{{ question.required ? 'Required' : 'Optional' }}</td>
                    <td>{{ question.enabled ? 'Enabled' : 'Disabled' }}</td>
                    <td>{{ question.updatedAt  ? question.updatedAt | date('Y-m-d H:i:s') : question.createdAt | date('Y-m-d H:i:s') }}</td>
                </tr>
                {% endfor %}

                {% if pagination|length == 0 %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
                {% endif %}

                </tbody>
                <tfoot>
                <tr>
                </tr>
                </tfoot>
            </table>

            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
