<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AC Journal</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!--[if lte IE 8]><script src="{{ asset('/js/html5shiv.js') }}"></script><![endif]-->
    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/skel.min.js') }}"></script>
    <script src="{{ asset('/js/skel-layers.min.js') }}"></script>
    <script src="{{ asset('/js/init.js') }}"></script>


    <noscript>
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('/css/skel.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/style-xlarge.css') }}" />
    </noscript>

    {% block pagecss %}{% endblock %}
</head>
<body class="landing">

<!-- Header -->
<header id="header">
    <h1><a href="/">AC Journal</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ path('question') }}">Questions</a></li>
            <li><a href="{{ path('entry_index') }}">Entries</a></li>
            <li><a href="#">Reports</a></li>

            {% if app.user == null %}
                <li><a href="{{ path('app_login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<!-- Banner -->
<section id="banner">
    {% block page_title %}{% endblock %}

    <ul class="actions">
        {% block action %}{% endblock %}
    </ul>
</section>


{% block content %}{% endblock %}

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <section class="links">
        </section>
        <div class="row">
            <div class="8u 12u$(medium)">
                <ul class="copyright">
                    <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                    <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
                </ul>
            </div>
            <div class="4u$ 12u$(medium)">
            </div>
        </div>
    </div>
</footer>

{{ encore_entry_script_tags('app') }}

{% block pagejs %}{% endblock %}

</body>
</html>
