{% extends 'base.html.twig' %}

{% block page_title %}
    {% if app.user %}
        <h2>Hi {{ app.user.firstname }}. How was your day?</h2>
    {% endif %}
{% endblock %}

{% block action %}
    {% if app.user %}
        <li>
            <a href="{{ path('entry_new') }}" class="button big">New Entry</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% for entry in pagination %}
    <section id="main_{{ entry.id }}" class="wrapper">
        <div class="container">
            <header class="major">
                <h2>{{ entry.createdAt | date('F d Y') }}</h2>
                <p>Recorded by {{ entry.author.firstName }}</p>
            </header>

            {% for answer in entry.answers %}
            <h4>{{ answer.question.label }}</h4>

            <p>{{ answer.answerText }}</p>
            {% endfor %}
        </div>
    </section>
    {% endfor %}

    {% if pagination|length == 0 %}
    <section class="wrapper">
        <div class="container">
            <header class="major">
                <h2>No Journal Entries Found</h2>
                <p>Why don't you create a new entry now?</p>
            </header>
        </div>
    </section>
    {% endif %}

    <section id="pagination-section" class="wrapper" style="padding-left: 11em;">
        {{ knp_pagination_render(pagination) }}
    </section>
{% endblock %}

